
<div class="container-fluid p-2">
    <div class="row justify-content-between align-items-center ">

        <div class="col-4">
            <div class="row align-items-center">
                <div class="col-3 "><h6>مبيعات التذاكر</h6></div>
                <div class="col">
                    <div class="input-group flex-nowrap">
                        <label class="input-group-text bg rounded-end-2 rounded-start-0 border border-2 border-start-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="بحث"><i class="bi bi-search"></i></label>
                        <input type="search" class="form-control rounded-end-0 rounded-start-2 border border-2 border-end-0" placeholder="بحث عن ..." >
                      </div>               
                     </div>
                     <div class="col-4">
                        <button class="btn bg border border-2 mx-1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="اعدادات"><i class="bi bi-sliders"></i></button>
                        <button class="btn bg border border-2 mx-1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="عشوائي"><i class="bi bi-arrow-down-up"></i></button>
                     </div>

            </div>
        </div>


        <div class="col-3">
            <div class="form-switch input-group-lg">
                <input class="form-check-input m-3 checkbox" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label m-3 fs-5 fw-light" for="flexSwitchCheckDefault">مفعلة</label>
                <button class="btn btn-primary"> تذكرة جديدة</button>
              </div>
           
        
        </div>


    </div>
</div>